[build]
command = "npm run build"
publish = "dist"

[build.environment]
NODE_VERSION = "22"

[[plugins]]
  package = "./netlify/plugins/cache-og-images"

[[plugins]]
package = "./netlify/plugins/cache-profile-images"

[[plugins]]
package = "/netlify/plugins/cache-social"
  
# Cache assets
[[headers]]
  for = "/_generated-og/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

# Cache fonts
[[headers]]
  for = "/fonts/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

# Cache images
[[headers]]
  for = "/assets/images/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[edge_functions]]
path = "/intranet/*"
function = "auth"

[[edge_functions]]
path = "/auth/callback"
function = "auth"

[[edge_functions]]
path = "/academics/courses/course-offerings/current-590-690"
function = "auth-590-690"

[[edge_functions]]
path = "/auth/590-690/callback"
function = "auth-590-690"
