---
import Layout from '../../../../layouts/MainLayout.astro';
import Breadcrumbs from "../../../../components/Breadcrumbs.astro";
import PageTitle from "../../../../components/PageTitle.astro";
import GradApplicationNav from '../../../../components/GradApplicationNav.astro';
import GradApplicationTransitions from '../../../../components/GradApplicationTransitions.astro';
import { ClientRouter } from 'astro:transitions';

const pageData = {
  title: "Academic and Personal Statement",
  subtitle: "What to write about, length, format",
  description: "Guidelines for writing academic and personal statements for graduate applications to Michigan Robotics"
};
---

<Layout title={`${pageData.title} | Michigan Robotics`} description={pageData.description}>
  <ClientRouter slot="head" />
  <GradApplicationTransitions slot="head" />
  <main>
    <Breadcrumbs />
    <PageTitle title={`Graduate Application: ${pageData.title}`} />
    <article transition:name="grad-content" class="prose dark:prose-invert max-w-6xl w-11/12 mx-auto mt-4 mb-4 prose-headings:font-roboto prose-h2:text-3xl prose-h2:mt-10 prose-h3:text-2xl prose-h4:text-xl prose-h5:text-lg prose-h6:text-base prose-headings:font-bold">
      <GradApplicationNav currentPage='academic-and-personal-statements'/>
      {pageData.subtitle && 
        <div class="mb-8 mt-8 relative">
          <h2 class="pt-8 lg:pt-0 text-xl md:text-2xl font-roboto text-gray-800 dark:text-gray-200 leading-relaxed not-prose tracking-wide">
            {pageData.subtitle}
          </h2>
          <div class="subtitle-double-line"></div>
        </div>
      }

      <p class="mt-0">The academic statement of purpose and personal statement should cover details about your academic background and career aspirations. You will want to talk about your engineering experiences, your motivation for pursuing a higher degree in Robotics, your long-term goals, as well as your specific interests.</p>

      <p>The pair of separate statements should work together to inform us about your experiences and goals. However, don't be redundant. Utilize the personal statement to expand upon your academic statement of purpose. If you want to write about the same topic, split it into two distinct pieces that cover different thoughts. Please note that once an applicant submits their online application, no changes to the statement of purpose, personal statement, curriculum vitae, and application can be modified online.</p>

      <p><strong>Format Guidelines</strong>: There are no formatting guidelines in regards to font type, font size, or margins. This format is meant to be flexible and allow for creativity: there is no single answer, however, below is more guidance on each statement.</p>

      <h2>Academic statement of purpose</h2>

      <p>Talk technical, go deep, and talk about your engineering background.</p>

      <p>Include your academic and research background, career goals, and how this graduate program will help meet career and educational objectives.</p>

      <p>Showcase your technical writing, and your enthusiasm for your work. Applicants often don't go deep or concrete enough into describing their engineering experience, whether an internship, project, or research. After describing one or more experiences in detail, including your contributions to the projects or tasks, discuss why graduate school is the next step for you. Make an argument for your unique qualifications and professional preparation, and what you hope to contribute to the field.</p>

      <p><strong>Length</strong>: The academic statement of purpose should be approximately one to two pages, single spaced.</p>

      <h2>Personal statement</h2>

      <p>Talk about your inspiration, background, and academic or project pursuits.</p>

      <p>Indicate how your personal background and life experiences, including social, cultural, familial, educational, or other opportunities or challenges, have motivated your decision to pursue a graduate degree at the University of Michigan. This is a discussion of the personal journey that has led to your decision to seek a graduate degree in Robotics.</p>

      <p>Include your motivations to take your robotics career further. What concrete examples can you share of your academic and non-academic activities that might have prepared you for graduate study? Don't be afraid to name collaborators in the field–our faculty often know many of them! But also talk about the work you did with those collaborators. Think of this as a story about your personal and professional development, and a proposal for your graduate school career.</p>

      <p><strong>Length</strong>: The personal statement should be approximately one to two pages, single spaced. Rackham's 500 word limit does not apply.</p>
    </article>
  </main>
</Layout>