---
import Layout from '../../layouts/MainLayout.astro';
import { Image } from 'astro:assets';
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import PageTitle from "../../components/PageTitle.astro";
import featuredImage from '../../images/featured-images/people.jpg';
import ogFeatureImage from '../../images/featured-images/og/people.jpg';
import Link from '../../components/Link.astro';
---

<Layout title="People | Michigan Robotics" description="Michigan Robotics faculty, staff, students, and alumni who are advancing the field of robotics." image={ogFeatureImage.src}>
  <Breadcrumbs slot="breadcrumbs" />
  <PageTitle title="People" />

    <div class="prose max-w-6xl w-11/12 mx-auto dark:prose-invert preload-visible">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="space-y-6">
          <h2 class="text-3xl font-roboto-condensed mt-8">Our Robotics community</h2>
          
          <p>The Robotics Department brings together <Link href="/people/faculty/">faculty</Link>, <Link href="/people/faculty/affiliate/">affiliate faculty</Link>, and students from many backgrounds, including anthropology, art, architecture, and engineering. Our <Link href="/people/faculty/emeritus/">emeritus faculty</Link> set the stage for the entire robotics field.</p>

          <p>Our <Link href="/people/students/">students</Link> are at the heart of our community, driving our research, innovation, and culture. Explore their research and see who might be searching for employment opportunities.</p>

          <p><Link href="/people/student-teams/">Student teams</Link> take part in a wide range of competitions that explore all aspects of robotics.</p>

          <p>Our <Link href="/people/alumni/">alumni</Link> are sought after by both industry and academia, from start-ups focused on autonomy to other top Robotics programs. A few even serve to guide us on our <Link href="/people/advisory-board/">advisory board</Link>.</p>

          <p>Our dedicated <Link href="/people/staff/">staff</Link> are here to serve all members of the Robotics community. Please reach out if you need assistance.</p>
        </div>

        <div>
          <Image 
            src={featuredImage} 
            alt="Two students stand looking out over the Robotics Building atrium full of people, one student wearing a shirt that reads 'Engineering Tomorrow' with robot icons on it."
            class="w-full h-full object-cover rounded-lg shadow-lg"
          />
        </div>
      </div>
    </div>
</Layout>