---
import Layout from '../../layouts/MainLayout.astro';
import { Image } from 'astro:assets';
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import PageTitle from "../../components/PageTitle.astro";
import featureImage from '../../images/featured-images/partnerships-industry.jpg';
import IndustryEngagementPathway from '../../components/IndustryEngagementPathway.astro';
import { YouTube } from 'astro-embed';
import VideoCenter from '../../components/VideoCenter.astro';
import ogFeatureImage from '../../images/featured-images/og/partnerships-industry.jpg';
---

<Layout title="Industry Engagement | Michigan Robotics" image={ogFeatureImage.src} description="We offer industry multiple pathways for meaningful collaboration between academia and innovators.">
  <Breadcrumbs />
  <PageTitle title="Industry Engagement" image={featureImage} imageAlt="Michigan Robotics research facilities" />
 
    <div class="prose dark:prose-invert mt-8 mb-4 max-w-6xl w-11/12 mx-auto">
      <h2 class="text-xl font-roboto text-umichblue dark:text-white leading-relaxed font-normal">Developing the next generation of robotics and roboticists together</h2>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-4 w-full md:w-2/3">
          <p>The University of Michigan Robotics Department welcomes industry members to our Industry Engagement Program. We offer multiple pathways for meaningful collaboration between students, faculty, and industry partners.</p>
        </div>
        <div class="flex flex-col gap-4 w-full md:w-1/3">
          <VideoCenter url="https://www.youtube.com/watch?v=4Lhn9ye6XKE" caption="Hanna Chapin talks about her experience with sponsored research." />
        </div>
      </div>
      <h2>Engagement opportunities</h2>
      <IndustryEngagementPathway />
   

      <div class="mt-8 card-base card-padded surface">
        <h2 class="text-2xl font-bold">Additional opportunities</h2>
        <ul class="space-y-4">
          <li><strong>Internship program:</strong> Establish multi-year internship commitments for fresh perspectives and innovative thinking</li>
          <li><strong>Talent acquisition:</strong> Access to exceptional graduates in robotics and related fields</li>
          <li><strong>Curriculum input:</strong> Shape educational programs through ongoing feedback and collaboration</li>
          <li><strong>Campus presence:</strong> Participate in workshops, seminars, and speaking opportunities</li>
        </ul>
      </div>

      <div class="mt-8 card-base card-padded surface">
          <h2>Contact us</h2>
          <p class="not-prose">For more information, please contact:</p>
          <a href="mailto:robotics-contact@umich.edu" class="text-umichblue dark:text-maize">
            robotics-contact@umich.edu
          </a>
      </div>
    </div>
</Layout>