---
import Layout from '../layouts/MainLayout.astro';
import { Image } from 'astro:assets';
import Breadcrumbs from "../components/Breadcrumbs.astro";
import PageTitle from "../components/PageTitle.astro";
import Link from '../components/Link.astro';
const illustrations = [
    { src: (await import('../../public/illustrations/anymal.png')).default, alt: "Cute ANYmal quadruped robot illustration", width: 100},
    { src: (await import('../../public/illustrations/arm-cleaning.png')).default, alt: "Cute robotic arm cleaning illustration", width: 75},
    { src: (await import('../../public/illustrations/autonomous-car.png')).default, alt: "Cute self-driving car illustration", width: 100},
    { src: (await import('../../public/illustrations/digit.png')).default, alt: "Cute Digit bipedal robot illustration", width: 50},
    { src: (await import('../../public/illustrations/fetch.png')).default, alt: "Cute Fetch mobile manipulator robot illustration", width: 75},
    { src: (await import('../../public/illustrations/mbot.png')).default, alt: "Cute MBot wheeled robot illustration", width: 75},
    { src: (await import('../../public/illustrations/quadcopter.png')).default, alt: "Cute quadcopter drone illustration", width: 100},
    { src: (await import('../../public/illustrations/rover.png')).default, alt: "Cute planetary rover illustration", width: 100},
    { src: (await import('../../public/illustrations/soft-robot.png')).default, alt: "Cute soft robot crawling illustration", width: 75},
    { src: (await import('../../public/illustrations/space.png')).default, alt: "Cute space robotics illustration", width: 100},
    { src: (await import('../../public/illustrations/staircase.png')).default, alt: "Person with bionic knee climbing stairs illustration", width: 75},
    { src: (await import('../../public/illustrations/tv-screen.png')).default, alt: "Cute robot interface screen illustration", width: 50},
    { src: (await import('../../public/illustrations/underwater.png')).default, alt: "Cute underwater robot illustration", width: 100}
];

const randomIllustration = illustrations[Math.floor(Math.random() * illustrations.length)];


---

<Layout title="404 | Michigan Robotics">
 <Breadcrumbs slot="breadcrumbs" />
 <PageTitle title="404" />
        
    <article class="prose dark:prose-invert mt-4 mb-4 max-w-6xl w-11/12 mx-auto">
      <div class="space-y-6">

        <h2 class="text-3xl font-roboto-condensed font-bold mt-8">Page not found</h2>
        <Image 
        src={randomIllustration.src} 
        alt={randomIllustration.alt} 
        width={randomIllustration.width} 
        height={50} 
        class="h-auto" 
    />
          <p>The page you are looking for does not exist. Please check the URL, or review commonly accessed pages:</p>

          <div class="space-y-6">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <h4 class="text-lg font-semibold mb-2">Academics</h4>
                <ul class="space-y-2">
                  <li><Link href="/academics/student-services/">Student Services</Link></li>
                  <li><Link href="/academics/graduate/">Graduate Programs</Link></li>
                  <li><Link href="/academics/undergraduate/">Undergraduate Programs</Link></li>
                  <li><Link href="/academics/courses/">Courses</Link></li>
                </ul>
              </div>

              <div>
                <h4 class="text-lg font-semibold mb-2">Connect</h4>
                <ul class="space-y-2">
                  <li><Link href="/news/">News</Link></li>
                  <li><Link href="/events/">Events</Link></li>
                  <li><Link href="/about/partnerships/">Partnerships</Link></li>
                </ul>
              </div>

              <div>
                <h4 class="text-lg font-semibold mb-2">Resources</h4>
                <ul class="space-y-2">
                  <li><Link href="/about/">About Michigan Robotics</Link></li>
                  <li><Link href="/research/">Research</Link></li>
                  <li><Link href="/about/facilities/">Facilities</Link></li>
                  <li><Link href="/intranet/">Department Intranet</Link></li>
                </ul>
              </div>

              <div>
                <h4 class="text-lg font-semibold mb-2">Social Media</h4>
                <ul class="space-y-2">
                  <li><a href="https://www.linkedin.com/company/university-of-michigan-robotics/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                  <li><a href="https://www.instagram.com/umrobotics/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
                  <li><a href="https://www.youtube.com/channel/UC-WH2n-SkB166pUq5o5ULUg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                  <li><a href="https://github.com/michiganrobotics/" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                  <li><a href="https://twitter.com/umrobotics" target="_blank" rel="noopener noreferrer">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>

        <p class="mt-8">Or, <Link href="/">return to the homepage.</Link> As always, if you need assistance, please <a href="/about/contact/">contact us</a>.</p>
      </div>
    </article>
  </div>
</Layout>