---
import MainLayout from "../layouts/MainLayout.astro";
import { gristQuery } from "../lib/api";
const gristData = await gristQuery();

Astro.response.headers.set('Cache-Control','max-age=600, must-revalidate');
---

<MainLayout title='Faculty'>
	<main>
		<div class="mt-4 mb-4 max-w-6xl w-11/12 mx-auto">
		
					<h1 class="text-4xl font-roboto">Faculty</h1>
					{gristData && (
						<ul>
						  {gristData.records.map((record) => (
							<li key={record.id} class="mb-8">
							  {record.fields.Full_Name}<br>
							  {record.fields.Title}<br>
							  {record.fields.Email}
							</li>
						  ))}
						</ul>
					  )}
		</div>
	</main>
</MainLayout>
