---
const { pathname } = Astro.url;
const paths = pathname.split('/').filter(Boolean);

function generateBreadcrumbs() {
  const breadcrumbs = [];
  let path = '';
  paths.forEach((item) => {
    path += `/${item}`;
    // Skip adding breadcrumb if it's the base path in production
    if (process.env.NODE_ENV === 'production' && item === 'rob-astro-23') {
      return;
    }
    // Replace hyphens with spaces and capitalize first letter
    const text = item.replace(/-/g, ' ').charAt(0).toUpperCase() + item.replace(/-/g, ' ').slice(1);
    breadcrumbs.push({
      text,
      href: path
    });
  });
  
  return breadcrumbs;
}


const breadcrumbs = generateBreadcrumbs();
---

<div class="flex items-center justify-end text-xs text-gray-600 dark:text-gray-300">
  <nav aria-label="Breadcrumb">
    <ol class="flex items-center space-x-2">
      <li>
        <a href="/" class="hover:text-umichblue dark:hover:text-taubmanTeal">Home</a>
      </li>
      {breadcrumbs.map((breadcrumb, index) => (
        <li class="flex items-center space-x-2">
          <span class="text-gray-400">&gt;</span>
          <a 
            href={breadcrumb.href}
            class={`hover:text-umichblue dark:hover:text-taubmanTeal ${index === breadcrumbs.length - 1 ? 'text-gray-500 dark:text-gray-400' : ''}`}
          >
            {breadcrumb.text}
          </a>
        </li>
      ))}
    </ol>
  </nav>
</div>
