---
const { pathname } = Astro.url;
const paths = pathname.split('/').filter(Boolean);

function generateBreadcrumbs() {
  const breadcrumbs = [];
  let path = '';
  paths.forEach((item) => {
    path += `/${item}`;
    // Skip adding breadcrumb if it's the base path in production
    if (process.env.NODE_ENV === 'production' && item === 'rob-astro-23') {
      return;
    }
    // Replace hyphens with spaces and capitalize all words
    const text = item.replace(/-/g, ' ').split(' ').map(word => 
      word.charAt(0).toUpperCase() + word.slice(1)
    ).join(' ');
    breadcrumbs.push({
      text,
      href: path
    });
  });
  
  return breadcrumbs;
}


const breadcrumbs = generateBreadcrumbs();
---
<div class="max-w-6xl w-11/12 mx-auto py-2">
<div class="flex items-center justify-end text-xs text-gray-700 dark:text-gray-300">
  <nav aria-label="Breadcrumb">
    <ol class="flex items-center space-x-2">
      <li>
        <a href="/" class="hover:text-umichblue dark:hover:text-taubmanTeal">Home</a>
      </li>
      {breadcrumbs.map((breadcrumb, index) => (
        <li class="flex items-center space-x-2">
          <span class="text-gray-700 dark:text-gray-300">&gt;</span>
          <a 
            href={breadcrumb.href}
            class={`hover:text-umichblue dark:hover:text-taubmanTeal ${index === breadcrumbs.length - 1 ? 'text-gray-600 dark:text-gray-300' : ''}`}
          >
            {breadcrumb.text}
          </a>
        </li>
      ))}
    </ol>
  </nav>
  </div>
</div>
