---
const { href, text } = Astro.props;
---

<div class="my-8"><a href={href} class="text-xl bg-umichblue text-white dark:bg-arboretumBlue dark:text-white px-6 py-4 rounded-md hover:bg-umichblue/80 dark:hover:bg-arboretumBlue/80 no-underline transition-colors duration-300">{text}</a></div>
