---
import { Icon } from 'astro-icon/components';
import { LinkPreview } from 'astro-embed';
import { Image } from 'astro:assets';
import substackSubscribe from '/src/images/substackSubscribe.jpg';
---

<section class="mx-2 m-auto mb-4 bg-uMMATan md:mx-12 md:max-w-5xl md:mx-auto rounded-sm text-umichblue dark:bg-[var(--bg-surface-dark)] dark:text-neutral-200 border-angelHallAsh border">
    <div class="mx-auto flex flex-col lg:flex-row items-center justify-center gap-4 lg:gap-12 p-4 space-y-8 lg:space-y-0 md:p-8">
        <div class="flex flex-col mt-4 lg:mt-0 space-y-4 text-center lg:text-left lg:w-1/3">
            <h2 class="text-5xl font-bold font-roboto-condensed leading">Stay up to date</h2>
            <p class="text-lg text-PumaBlack dark:text-gray-300"><a href="https://umrobotics.substack.com">Sign up</a> for our quarterly newsletter, and follow us on social media</p>
        </div>
        <div class="aspect-video w-full lg:w-1/3 max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl mx-auto shadow-lg hover:shadow-xl hover:scale-105 transition-all duration-300">
            <a href="https://umrobotics.substack.com" 
               target="_blank" 
               rel="noopener noreferrer" 
               aria-label="Michigan Robotics Newsletter: research, news, videos, and events from the frontier of robotics research."
               class="block">
                <Image src={substackSubscribe} alt="Link preview of subscribing to our substack with text Michigan Robotics Newsletter: research, news, videos, and events from the frontier of robotics research." class="w-full h-full object-cover" width={500} height={281} />
            </a>
        </div>
        
        <div class="flex flex-row justify-center items-center pb-4 md:pb-0 space-x-1 md:space-x-2 lg:w-1/4">
            <a href="https://www.instagram.com/umrobotics/" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on Instagram">
                <Icon name="mdi:instagram" class="text-[2.5rem] hover:text-maize" />
            </a>
            <a href="https://www.linkedin.com/company/university-of-michigan-robotics/" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on LinkedIn">
                <Icon name="mdi:linkedin" class="text-[2.5rem] hover:text-maize" />
            </a>
            <a href="https://github.com/michiganrobotics/" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on GitHub">
                <Icon name="mdi:github" class="text-[2.5rem] hover:text-maize" />
            </a>
            <a href="https://www.youtube.com/channel/UC-WH2n-SkB166pUq5o5ULUg" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on YouTube">
                <Icon name="mdi:youtube" class="text-[2.5rem] hover:text-maize" />
            </a>
            <a href="https://www.twitter.com/umrobotics" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on X/Twitter">
                <Icon name="twitter-x-logo" class="text-[2.5rem] hover:text-maize" />
            </a>
        </div>
    </div>
</section>
