---
import { Icon } from 'astro-icon/components';
---

<section class="mx-2 m-auto mb-4 bg-uMMATan md:mx-12 md:max-w-5xl md:mx-auto rounded-sm text-umichblue dark:bg-gray-800 dark:text-gray-50">
    <div class="mx-auto flex flex-col justify-center p-4 space-y-8 md:p-8 lg:space-y-0 lg:space-x-12 lg:justify-between lg:flex-row">
        <div class="flex flex-col space-y-4 text-center lg:text-left">
            <h1 class="text-5xl font-bold font-roboto-condensed leading">Stay up to date</h1>
            <p class="text-lg text-PumaBlack dark:text-gray-300">Sign up for our quarterly newsletter, and follow us on social media</p>
        </div>
        <div class="aspect-video w-full md:w-2/3 max-w-sm sm:max-w-md md:max-w-lg lg:max-w-2xl xl:max-w-3xl mx-auto rounded-lg shadow-lg overflow-hidden">
            <iframe 
              src="https://umrobotics.substack.com/embed" 
              class="h-[140px] w-full sm:h-full"
              width="480" 
              height="320" 
              loading="lazy"
              frameborder="0" 
              scrolling="no"
            ></iframe>
          </div>
          
        
        <div class="flex flex-row justify-center space-x-2 text-white">
            <a href="https://www.instagram.com/umrobotics/" target="_blank" rel="noopener noreferrer">
                <Icon name="mdi:instagram" class="text-[2.5rem] hover:text-arboretumBlue" />
            </a>
            <a href="https://www.linkedin.com/company/university-of-michigan-robotics/" target="_blank" rel="noopener noreferrer">
                <Icon name="mdi:linkedin" class="text-[2.5rem] hover:text-arboretumBlue" />
            </a>
            <a href="https://github.com/michiganrobotics/" target="_blank" rel="noopener noreferrer">
                <Icon name="mdi:github" class="text-[2.5rem] hover:text-arboretumBlue" />
            </a>
            <a href="https://www.youtube.com/channel/UC-WH2n-SkB166pUq5o5ULUg" target="_blank" rel="noopener noreferrer">
                <Icon name="mdi:youtube" class="text-[2.5rem] hover:text-arboretumBlue" />
            </a>
            <a href="https://www.twitter.com/umrobotics" target="_blank" rel="noopener noreferrer">
                <Icon name="twitter-x-logo" class="text-[2.5rem] hover:text-arboretumBlue" />
            </a>
        </div>
    </div>
</section>
