---
import { Icon } from 'astro-icon';
---

<section class="mx-2 m-auto mb-4 bg-uMMATan md:mx-12 md:max-w-5xl md:mx-auto rounded-sm text-umichblue dark:bg-gray-800 dark:text-gray-50">
    <div class="mx-auto flex flex-col justify-center p-4 space-y-8 md:p-8 lg:space-y-0 lg:space-x-12 lg:justify-between lg:flex-row">
        <div class="flex flex-col space-y-4 text-center lg:text-left">
            <h1 class="text-5xl font-bold font-roboto-condensed leading">Stay up to date</h1>
            <p class="text-lg text-PumaBlack dark:text-gray-300">Sign up for our quarterly newsletter, and follow us on social media</p>
        </div>
        <div id="custom-substack-embed"></div>

        <script>
          window.CustomSubstackWidget = {
            substackUrl: "umrobotics.substack.com",
            placeholder: "example@gmail.com",
            buttonText: "Subscribe",
            theme: "custom",
            colors: {
              primary: "#2F65A7",
              input: "#FFFFFF",
              email: "#000000",
              text: "#FFFFFF",
            },
            // Go to substackapi.com to unlock custom redirect
        
          };
        </script>
        <script src="https://substackapi.com/widget.js" async></script>
        
        <div class="flex flex-row justify-center space-x-2 text-white">
            <a href="https://www.instagram.com/umrobotics/" target="_blank" rel="noopener noreferrer">
                <Icon name="mdi:instagram" class="w-10 hover:text-arboretumBlue" />
            </a>
            <a href="https://www.linkedin.com/company/university-of-michigan-robotics/" target="_blank" rel="noopener noreferrer">
                <Icon name="mdi:linkedin" class="w-10 hover:text-arboretumBlue" />
            </a>
            <a href="https://github.com/michiganrobotics/" target="_blank" rel="noopener noreferrer">
                <Icon name="mdi:github" class="w-10 hover:text-arboretumBlue" />
            </a>
            <a href="https://www.youtube.com/channel/UC-WH2n-SkB166pUq5o5ULUg" target="_blank" rel="noopener noreferrer">
                <Icon name="mdi:youtube" class="w-10 hover:text-arboretumBlue" />
            </a>
            <a href="https://www.twitter.com/umrobotics" target="_blank" rel="noopener noreferrer">
                <Icon name="mdi:twitter" class="w-10 hover:text-arboretumBlue" />
            </a>
        </div>
    </div>
</section>

