---
const { href, text } = Astro.props;
---

<div class="my-8"><a href={href} class="text-xl bg-maize text-black dark:bg-maize dark:text-black px-6 py-4 rounded-md hover:bg-maize/80 dark:hover:bg-maize/80 no-underline transition-colors duration-300 button-component">{text}</a></div>

