---
const { href, text, external = false } = Astro.props;
---

<div class="my-4">
  <a 
    href={href} 
    class="inline-flex items-center justify-center text-base sm:text-lg w-full sm:w-auto 
    bg-maize text-black  
    px-4 sm:px-6 py-2.5 sm:py-3 rounded-md 
    hover:bg-maize/90  
    transform hover:-translate-y-0.5 
    transition-all duration-200 
    shadow-md hover:shadow-lg 
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-umichblue dark:focus:ring-arboretumBlue
    no-underline button-component
    whitespace-normal break-words"
    {...external ? { target: "_blank", rel: "noopener noreferrer" } : {}}
  >
  <span class="flex-1 text-center">{text}</span>
  {external ? (
    <svg 
      class="flex-shrink-0 ml-2 -mr-1 w-4 h-4" 
      fill="none" 
      stroke="currentColor" 
      viewBox="0 0 24 24" 
      xmlns="http://www.w3.org/2000/svg"
    >
      <path 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        stroke-width="2" 
        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
      ></path>
    </svg>
  ) : (
    <svg 
      class="flex-shrink-0 ml-2 -mr-1 w-4 h-4" 
      fill="none" 
      stroke="currentColor" 
      viewBox="0 0 24 24" 
      xmlns="http://www.w3.org/2000/svg"
    >
      <path 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        stroke-width="2" 
        d="M9 5l7 7-7 7"
      ></path>
    </svg>
  )}
</a>
</div>


