---
import { Icon } from "astro-icon"
const currentYear = new Date().getFullYear();
import { Image } from "astro:assets";
const randomIllustrations = [
    { src: "illustrations/anymal.png", alt: "Cute ANYmal quadruped robot illustration", width: 100},
    { src: "illustrations/arm-cleaning.png", alt: "Cute robotic arm cleaning illustration", width: 75},
    { src: "illustrations/autonomous-car.png", alt: "Cute self-driving car illustration", width: 100},
    { src: "illustrations/digit.png", alt: "Cute Digit bipedal robot illustration", width: 50},
    { src: "illustrations/fetch.png", alt: "Cute Fetch mobile manipulator robot illustration", width: 75},
    { src: "illustrations/mbot.png", alt: "Cute MBot wheeled robot illustration", width: 75},
    { src: "illustrations/quadcopter.png", alt: "Cute quadcopter drone illustration", width: 100},
    { src: "illustrations/rover.png", alt: "Cute planetary rover illustration", width: 100},
    { src: "illustrations/soft-robot.png", alt: "Cute soft robot crawling illustration", width: 75},
    { src: "illustrations/space.png", alt: "Cute space robotics illustration", width: 100},
    { src: "illustrations/staircase.png", alt: "Person with bionic knee climbing stairs illustration", width: 75},
    { src: "illustrations/tv-screen.png", alt: "Cute robot interface screen illustration", width: 50},
    { src: "illustrations/underwater.png", alt: "Cute underwater robot illustration", width: 100}
];

const randomIndex = Math.floor(Math.random() * randomIllustrations.length);
const randomIllustration = randomIllustrations[randomIndex];
const base = import.meta.env.PROD ? import.meta.env.BASE_URL : '/';
---
<style>
    footer p {
        text-align: center;
    }
</style>
<hr>
<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
               <a href="/" class='flex items-center'><Icon name="roboticsUMLogo" class="h-16 mr-3"/>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-4">
            <div class="flex items-center">
                <Image 
                    src={base + randomIllustration.src} 
                    alt={randomIllustration.alt} 
                    width={randomIllustration.width} 
                    height={50} 
                    class="h-auto" 
                />
            </div>
            <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Partnerships</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="/partnerships/corporations" class="hover:underline">Corporations</a>
                      </li>
                      <li>
                          <a href="/partnerships/community" class="hover:underline">Community</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Connect</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://github.com/umrobotics" class="hover:underline ">Media</a>
                      </li>
                      <li>
                          <a href="/news-events" class="hover:underline">News & Events</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="/about/contact" class="hover:underline">Contact Us</a>
                      </li>
                      <li>
                          <a href="/about/facilities" class="hover:underline">Facilities</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="flex flex-col-reverse sm:flex-row sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 text-center sm:text-left dark:text-gray-400 mt-4 sm:mt-0">© {currentYear} <a href="https://robotics.umich.edu/" class="hover:underline">Regents of the University of Michigan</a>
          </span>
          <div class="flex justify-center sm:justify-end">
              <div class="flex flex-row space-x-2 text-white">
                  <a href="https://www.instagram.com/umrobotics/" target="_blank" rel="noopener noreferrer">
                      <Icon name="mdi:instagram" class="w-10 text-gray-500 hover:text-gray-900 dark:hover:text-white" />
                  </a>
                  <a href="https://www.linkedin.com/company/university-of-michigan-robotics/" target="_blank" rel="noopener noreferrer">
                      <Icon name="mdi:linkedin" class="w-10 text-gray-500 hover:text-gray-900 dark:hover:text-white" />
                  </a>
                  <a href="https://github.com/michiganrobotics/" target="_blank" rel="noopener noreferrer">
                      <Icon name="mdi:github" class="w-10 text-gray-500 hover:text-gray-900 dark:hover:text-white" />
                  </a>
                  <a href="https://www.youtube.com/channel/UC-WH2n-SkB166pUq5o5ULUg" target="_blank" rel="noopener noreferrer">
                      <Icon name="mdi:youtube" class="w-10 text-gray-500 hover:text-gray-900 dark:hover:text-white" />
                  </a>
                  <a href="https://www.twitter.com/umrobotics" target="_blank" rel="noopener noreferrer">
                      <Icon name="mdi:twitter" class="w-10 text-gray-500 hover:text-gray-900 dark:hover:text-white" />
                  </a>
              </div>
          </div>
      </div>
    </div>
</footer>
