---
import { Icon } from "astro-icon/components";
const currentYear = new Date().getFullYear();
import { Image } from "astro:assets";
import Link from '../components/Link.astro';
const illustrations = [
    { src: (await import('../../public/illustrations/anymal.png')).default, alt: "Cute ANYmal quadruped robot illustration", width: 100},
    { src: (await import('../../public/illustrations/arm-cleaning.png')).default, alt: "Cute robotic arm cleaning illustration", width: 75},
    { src: (await import('../../public/illustrations/autonomous-car.png')).default, alt: "Cute self-driving car illustration", width: 100},
    { src: (await import('../../public/illustrations/digit.png')).default, alt: "Cute Digit bipedal robot illustration", width: 50},
    { src: (await import('../../public/illustrations/fetch.png')).default, alt: "Cute Fetch mobile manipulator robot illustration", width: 75},
    { src: (await import('../../public/illustrations/mbot.png')).default, alt: "Cute MBot wheeled robot illustration", width: 75},
    { src: (await import('../../public/illustrations/quadcopter.png')).default, alt: "Cute quadcopter drone illustration", width: 100},
    { src: (await import('../../public/illustrations/rover.png')).default, alt: "Cute planetary rover illustration", width: 100},
    { src: (await import('../../public/illustrations/soft-robot.png')).default, alt: "Cute soft robot crawling illustration", width: 75},
    { src: (await import('../../public/illustrations/space.png')).default, alt: "Cute space robotics illustration", width: 100},
    { src: (await import('../../public/illustrations/staircase.png')).default, alt: "Person with bionic knee climbing stairs illustration", width: 75},
    { src: (await import('../../public/illustrations/tv-screen.png')).default, alt: "Cute robot interface screen illustration", width: 50},
    { src: (await import('../../public/illustrations/underwater.png')).default, alt: "Cute underwater robot illustration", width: 100}
];

const randomIllustration = illustrations[Math.floor(Math.random() * illustrations.length)];

---
<style>
    footer p {
        text-align: center;
    }
</style>
<hr class="border-gray-200 dark:border-gray-200">
<footer class="bg-white dark:bg-umichblue">
    <div class="mx-auto w-full max-w-screen-xl p-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
               <a href="/" class='flex items-center' aria-label="Home - Michigan Robotics Logo">
                  <Icon name="roboticsUMLogo" class="text-[4rem] mr-3"/>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-4">
            <div class="flex items-center">
                <Image 
                    src={randomIllustration.src} 
                    alt={randomIllustration.alt} 
                    width={randomIllustration.width} 
                    height={50} 
                    class="h-auto dark:drop-shadow-[0_0_1px_white]" 
                />
            </div>
            <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-neutral-50">Partnerships</h2>
                  <ul class="text-gray-600 dark:text-gray-200 font-medium">
                      <li class="mb-4">
                          <Link href={`/partnerships/industry`} class="underline-hover-only" aria-label="Industry Engagement">Industry</Link>
                      </li>
                      <li>
                          <Link href={`/partnerships`} class="underline-hover-only" aria-label="Community Partnerships">Community</Link>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-neutral-50">Connect</h2>
                  <ul class="text-gray-600 dark:text-gray-200 font-medium">
                      <li class="mb-4">
                          <Link href={`/news`} class="underline-hover-only" aria-label="News">News</Link> &
                          <Link href={`/events`} class="underline-hover-only" aria-label="Events">Events</Link>
                      </li>
                      <li>
                        <Link href={`/about/contact`} class="underline-hover-only" aria-label="Contact Michigan Robotics">Contact Us</Link>
                    </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-neutral-50">Resources</h2>
                  <ul class="text-gray-600 dark:text-gray-200 font-medium">
                      <li class="mb-4">
                          <Link href={`/academics/student-services`} class="underline-hover-only" aria-label="Student Services">Student Services</Link>
                      </li>
                      <li>
                          <Link href={`/intranet`} class="underline-hover-only" aria-label="Department Intranet">Intranet</Link>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="flex flex-col-reverse sm:flex-row sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 text-center sm:text-left dark:text-gray-200 mt-4 sm:mt-0">© {currentYear} Regents of the University of Michigan
          </span>
          <div class="flex justify-center sm:justify-end">
              <div class="flex flex-row space-x-2 text-white">
                  <a href="https://www.instagram.com/umrobotics/" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on Instagram">
                      <Icon name="mdi:instagram" class="text-[2.5rem] text-gray-500 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white" />
                  </a>
                  <a href="https://www.linkedin.com/company/university-of-michigan-robotics/" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on LinkedIn">
                      <Icon name="mdi:linkedin" class="text-[2.5rem] text-gray-500 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white" />
                  </a>
                  <a href="https://github.com/michiganrobotics/" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on GitHub">
                      <Icon name="mdi:github" class="text-[2.5rem] text-gray-500 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white" />
                  </a>
                  <a href="https://www.youtube.com/channel/UC-WH2n-SkB166pUq5o5ULUg" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on YouTube">
                      <Icon name="mdi:youtube" class="text-[2.5rem] text-gray-500 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white" />
                  </a>
                  <a href="https://www.twitter.com/umrobotics" target="_blank" rel="noopener noreferrer" aria-label="Michigan Robotics on X/Twitter">
                      <Icon name="twitter-x-logo" class="text-[2.5rem] text-gray-500 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white" />
                  </a>
              </div>
          </div>
      </div>
    </div>
</footer>
