---
import { YouTube } from 'astro-embed';

interface Props {
  url: string;
  caption?: string;
  class?: string;
}

const { url, caption, class: className } = Astro.props;
---
<figure class={`block w-full aspect-video mb-8 ${className} relative`}>
  <div class="inset-0 flex items-center justify-center">
    <YouTube id={url} class="w-full h-full" />
  </div>
  {caption && (<figcaption class="mt-2 text-sm text-gray-600 dark:text-gray-200 italic">{caption}
  </figcaption>)}
</figure>